// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.bookcard div.card span.card-title {
  background-color: white;
  color: black;
  display:block;
}
